.container {
  max-width: 75em;
  padding: calc(8px + 1.5625vw);
  margin: 0 auto;
}

.mt-sm {
  margin-top: 1rem;
}

.mb-sm {
  margin-bottom: 1rem;
}

.mx-auto {
  margin: 0 auto;
}

.text-center {
  text-align: center;
}
