header {
  display: grid;
  grid-template-areas: "hero";
  place-items: center;
  height: 80vh;
  max-height: 800px;
  background-image: linear-gradient(to bottom, rgba(22, 22, 26, 0.7) 98%, rgba(127, 90, 240, 1) 2%);
  /* background-color: rgba($color-purple-dark, 0.8); */
  overflow: hidden;

  > * {
    grid-area: hero;
  }

  img {
    object-fit: cover;
    height: 100%;
    width: 100%;
    z-index: -1;
    max-height: 700px;
  }

  .hero--content {
    z-index: 1;
    text-align: center;
    color: $color-white;
    min-width: 30ch;
    padding: 1rem;

    h1 {
      color: $color-white;
      text-transform: uppercase;
      font-weight: 300;
      margin: 0;
      .hero--title-accent {
        font-weight: 600;
      }

      @mixin atSmall {
        font-size: 2.5rem;
      }

      @mixin atMedium {
        font-size: 3rem;
      }

      @mixin atLarge {
        font-size: 4rem;
      }
    }
    p {
      margin: 1rem 0;
    }
  }
}
