header {
  display: grid;
  grid-template-areas: "hero";
  place-items: center;
  height: 80vh;
  max-height: 800px;
  background-color: rgba($color-purple-dark, 0.8);
  overflow: hidden;

  > * {
    grid-area: hero;
  }

  img {
    object-fit: cover;
    height: 100%;
    width: 100%;
    z-index: -1;
  }

  .hero--content {
    z-index: 1;
    text-align: center;
    color: $color-white;
    min-width: 30ch;
    padding: 1rem;

    h1 {
      color: $color-white;
      text-transform: uppercase;
      font-weight: 300;
      margin: 0;
      .hero--title-accent {
        font-weight: 600;
      }
    }
    p {
      margin: 1rem 0;
    }
  }
}
