.main-nav {
  background-color: $color-purple-dark;
  position: fixed;
  height: 100vh;
  top: 0;
  /* right: -90vw; */
  width: 100vw;
  z-index: 1000;
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;

  ul {
    margin: 0;
    padding: 0;
    li {
      list-style: none;

      a {
        text-decoration: none;
        color: $color-purple-light;
        display: inline-block;
        font-size: 1.2rem;
        padding: 0.7rem 1.6rem;
      }
    }
  }
}
