.logo {
  max-width: 130px;
}
.navWrap {
  position: fixed;
  top: 0;
  z-index: 99;
  height: 70px;
  width: 100%;
  background-color: rgba(127, 90, 240);
  padding: 0 1.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: all 0.14s ease-in-out;

  @mixin atLarge {
    background-color: rgba(255, 255, 255, 0);
    height: 90px;
    /* box-shadow: 0px 1px 8px rgba(0, 0, 0, 0.1); */
    box-shadow: none;
    display: grid;
    grid-template-columns: 130px minmax(auto, 75em);
    justify-content: center;
    align-content: center;
  }
}

@mixin atLarge {
  .navWrap.sticky {
    background-color: rgba(255, 255, 255, 0.9);
    box-shadow: 0px 1px 8px rgba(0, 0, 0, 0.1);
    height: 50px;
  }
}

input#navToggle {
  display: none;
}

input#navToggle ~ label {
  position: relative;
  padding: 0.25rem;
  width: 2.5rem;
  height: 2.2rem;
  display: block;
  @mixin atLarge {
    display: none;
  }
}

input#navToggle ~ label > span,
input#navToggle ~ label > span::before,
input#navToggle ~ label > span::after {
  content: "";
  display: block;
  position: absolute;
  top: 1rem;
  height: 0.125rem;
  width: 1.75rem;
  opacity: 1;
  background: #fff;
  transition: 0.14s ease-in-out;
}

input#navToggle ~ label > span::before {
  top: -0.5rem;
}

input#navToggle ~ label > span::after {
  top: 0.5rem;
}

#navToggle:checked ~ label > span {
  width: 0;
  background: rgba(18, 18, 18, 0);
}

#navToggle:checked ~ label > span::before {
  transform: rotateZ(45deg);
  top: 0;
}

#navToggle:checked ~ label > span::after {
  transform: rotateZ(-45deg);
  top: 0;
}

#navToggle:checked ~ nav {
  left: 0;
}

.nav {
  position: absolute;
  z-index: -1;
  top: 4.2rem;
  left: -110%;
  width: 100%;
  transition: 0.22s ease-in-out;
  @mixin atLarge {
    position: initial;
  }
  &::after {
    content: "";
    position: absolute;
    top: 0;
    z-index: -1;
    height: 100vh;
    width: 100vw;
    background-color: $color-purple-dark;
    background-size: cover;
    @mixin atLarge {
      position: initial;
    }
  }
  &__links {
    list-style-type: none;
    @mixin atLarge {
      display: flex;
      justify-content: flex-end;
      align-items: center;
    }
  }

  &__item {
    &:last-of-type {
      margin-left: 1rem;
    }
    &:last-of-type::before {
      content: "";
      display: block;
      padding: 0.5rem;
      @mixin atLarge {
        display: none;
        padding: initial;
      }
    }
  }

  &__link {
    &:link,
    &:visited {
      display: inline-block;
      text-decoration: none;
      width: 100%;
      padding: 1rem 1.5rem;
      color: $color-gray-light;
      border-bottom: solid 1px $color-gray-dark;
      transition: 0.14s ease-in-out;
      @mixin atLarge {
        color: $color-white;
        border-bottom: none;
        background: transparent;
        padding: 0.6rem 1rem;
      }
    }

    &:hover,
    &:active {
      color: $color-purple-dark;
      background-color: $color-gray-dark;
      @mixin atLarge {
        background-color: transparent;
        color: $color-purple-light;
      }
    }
  }

  /* Sticky */
  .sticky &__link {
    &:link,
    &:visited {
      display: inline-block;
      text-decoration: none;
      width: 100%;
      padding: 1rem 1.5rem;
      color: $color-gray-light;
      border-bottom: solid 1px $color-gray-dark;
      transition: 0.14s ease-in-out;
      @mixin atLarge {
        color: $color-purple-dark;
        border-bottom: none;
        background: transparent;
        padding: 0.5rem 1rem;
      }
    }

    &:hover,
    &:active {
      color: $color-purple-light;
      background-color: $color-gray-dark;
      @mixin atLarge {
        color: $color-purple-light;
        background-color: transparent;
      }
    }
    @mixin atLarge {
      &.is-current-link {
        color: $color-purple-light;
        background-color: transparent;
      }
    }
  }
}
