.section__title {
  margin: 0 auto 3rem auto;
  padding-top: 3rem;
  text-align: center;
}

.section__description {
  font-size: 1rem;
  text-transform: uppercase;
}

.section__header {
  font-size: 2rem;
}

.section-cat {
  padding-top: 0;
}
